---
title: Kieran Reck
browser_title: Kieran Reck \| Mechanical Engineer \| Maker  \| Founder
layout: splash
classes:
  - landing
header:
  overlay_image: /assets/images/homepage-header.jpg
  overlay_filter: "0.25"
excerpt: | 
    <span class="nowrap" style="font-size:2vw" >Mechanical Engineer   |   Founder   |   Maker</span>
    <span> <br> </span>
    <span class="nowrap" style="font-size:1vw">Device Developent   |   CAD   |   Modular Synthesis   |   Electronics   |   Coding   |   Design for Manufacture   |   Rapid Prototyping   |   Injection Moulding   |   Mechanical Design   |   Technical Drawing   |   Hardware</span> 
    <span> <br> </span>
    <span> <br> </span>
    <span> <br> </span>

intro:
    - title: Explore 

feature_row_explore:
  - image_path: assets/images/homepage-professional-header.jpg
    alt: "Professional Work"
    title: "Professional Work"
    excerpt: "Professional Engineer with a background in mechatronic device development whose portfolio ranges from the development of critical care respiratory devices, to multi-week field service tasks aboard Navy Frigates."
    url: "/portfolio"
    btn_label: "Learn More.."
    btn_class: "btn--primary"
  - image_path: /assets/images/homepage-hobby-header.jpg
    alt: "Hobby Projects"
    title: "Hobby Projects"
    excerpt: "Passionate about all things engineering I surround myself with technical challenges, problem-solving, and interesting topics from all areas to gain a greater appreciation and expand my skillset."
    url: "/hobby"
    btn_label: "Learn More.."
    btn_class: "btn--primary"
  - image_path: /assets/images/homepage-blog-header.jpg
    title: "Blog"
    excerpt: "A feed of posts related to whatever personal and professional projects I am working on. This is a space for me to share my work, 'learn out loud', and pass on any tricks and tips I have picked up along the way."
    url: "/blog"
    btn_label: "Learn More.."
    btn_class: "btn--primary"

latest:
    - title: Latest Blog Posts

# extract_latest_files    
#    {%- assign recent_post1 = site.posts[0] -%}
#    {%- assign recent_post2 = site.posts[1] -%}
#    {%- assign recent_post3 = site.posts[2] -%}
#
#    # extract the file location of the header image in the recent Posts
#    {% assign split_header1 = recent_post1.header | split: '"' %}
#    {% assign header_location1 = split_header1[3] | replace: ' ', '' %}
#    {% assign split_header2 = recent_post2.header | split: '"' %}
#    {% assign header_location2 = split_header2[3] | replace: ' ', '' %}
#    {% assign split_header3 = recent_post3.header | split: '"' %}
#    {% assign header_location3 = split_header3[3] | replace: ' ', '' %}
    

# feature_row_latest:
#    - image_path: "{{ header_location1 }}""
#      alt: "{{ recent_post1.title }}"
#      title: "{{ recent_post1.title }}"
#      excerpt: "{{ recent_post1.excerpt }}"
#      url: "{{ recent_post1.url }}"
#      btn_label: "Learn More.."
#      btn_class: "btn--primary"
#    - image_path: "{{ header_location2 }}""
#      alt: "{{ recent_post2.title }}"
#      title: "{{ recent_post2.title }}"
#      excerpt: "{{ recent_post2.excerpt }}"
#      url: "{{ recent_post2.url }}"
#      btn_label: "Learn More.."
#      btn_class: "btn--primary"
#    - image_path: "{{ header_location3 }}""
#      alt: "{{ recent_post3.title }}"
#      title: "{{ recent_post3.title }}"
#      excerpt: "{{ recent_post3.excerpt }}"
#      url: "{{ recent_post3.url }}"
#      btn_label: "Learn More.."
#      btn_class: "btn--primary"
---
{% include feature_row id="intro" type="center" %}

{% include feature_row id="feature_row_explore" %}

{% include feature_row id="latest" type="center" %}

{% include feature_row id="feature_row_latest" %}

{%- assign recent_post1 = site.posts[0] -%}
{%- assign recent_post2 = site.posts[1] -%}
{%- assign recent_post3 = site.posts[2] -%}

{% assign split_header1 = recent_post1.header | split: '"' %}
{% assign header_location1 = split_header1[3] | replace: ' ', '' %}
{% assign split_header2 = recent_post2.header | split: '"' %}
{% assign header_location2 = split_header2[3] | replace: ' ', '' %}
{% assign split_header3 = recent_post3.header | split: '"' %}
{% assign header_location3 = split_header3[3] | replace: ' ', '' %}


Display latest posts
<a href="{{ recent_post1.url }}">{{ recent_post1.title }}</a>
Published: <p class="blogdate">{{ recent_post1.date | date: "%d %B %Y" }}</p>
<img src="{{header_location1}}" style="width:300px">
<p>{{ recent_post1.excerpt }}</p>

<a href="{{ recent_post2.url }}">{{ recent_post2.title }}</a>
Published: <p class="blogdate">{{ recent_post2.date | date: "%d %B %Y" }}</p>
<img src="{{header_location2}}" style="width:300px">
<p>{{ recent_post2.excerpt }}</p>

<a href="{{ recent_post3.url }}">{{ recent_post3.title }}</a>
Published: <p class="blogdate">{{ recent_post3.date | date: "%d %B %Y" }}</p>
<img src="{{header_location3}}" style="width:300px">
<p>{{ recent_post3.excerpt }}</p>
